annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
autocommand==2.2.2
build==1.4.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
cryptography==46.0.7
dbus-python==1.4.0
distlib==0.4.0
fastjsonschema==2.21.2
filelock==3.26.0
gps==3.27.5
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hypothesis==6.151.11
idna==3.11
iniconfig==2.3.0
InquirerPy==0.3.4
installer==0.7.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
lark==1.3.1
lensfun==0.3.4
lxml==6.0.3
Mako==1.3.10.dev0
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
meson==1.10.2
more-itertools==11.0.2
nftables==0.1
packaging==26.0
pfzy==0.3.4
pkg_resources==81.0.0
platformdirs==4.9.6
pluggy==1.6.0
plyer==2.1.0
poetry-core==2.3.2
prompt_toolkit==3.0.52
psutil==7.2.2
pycairo==1.29.0
pycodestyle==2.14.0
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.20.0
PyGObject==3.56.2
pypresence==4.6.1
pyproject_hooks==1.2.0
pytest==9.0.3
python-discovery==1.2.2
RapidFuzz==3.14.5
requests==2.33.1
rich==14.3.4
setuptools==82.0.1
six==1.17.0
sortedcontainers==2.4.0
stevedore==5.4.1
TBB==0.2
thefuzz==0.22.1
tqdm==4.67.3
trash-cli==0.24.5.26
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
virtualenv==21.2.1
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.1
wcwidth==0.6.0
wheel==0.46.3
yt-dlp==2026.3.17
yt-dlp-ejs==0.8.0
